<p style="color: green"><%= notice %></p>

<p class="title is-2">Types</p>

<div class="columns">
  <% @types.each do |type| %>
    <div class="card m-3 has-text-centered">
      <p>
        <%= link_to type.name.capitalize(), type %>
      </p>
    </div>
  <% end %>
</div>
