<p style="color: green"><%= notice %></p>

<h1>Generations</h1>

<div id="generations">
  <% @generations.each do |generation| %>
  <p>
    <%= link_to "Generation #{generation.name.split('-')[1].upcase()}", generation%>
  </p>
  <% end %>
</div>
