<p style="color: green"><%= notice %></p>

<p class="title is-2">Generations</p>

<div class="columns">
  <% @generations.each do |generation| %>
    <div class="card m-3 has-text-centered">
      <p>
        <%= link_to "Generation #{generation.name.split('-')[1].upcase()}", generation%>
      </p>
    </div>
  <% end %>
</div>
