<p style="color: green"><%= notice %></p>

<h1>Moves</h1>

<div id="moves">
  <% @moves.each do |move| %>
    <p>
      <h3><%= link_to move.name.capitalize(), move %></h3>
      <strong>Type:</strong> <%= move.type.name.capitalize() %>
    </p>
  <% end %>
</div>
