<h1 class="title is-2">About</h1>

<%=image_tag(image_path("erd.png"), alt:"ERD for Site Database")%>

<div class="columns is-multiline">
    <div class="column">
        <div class="card">
        <div class="card-content">
            <h2 class="subtitle is-4">
                Pokemons
            </h2> 
            <p>
            Represents a Pokemon. Contains it’s name, sprite URL, Pokedex number, and reference to the generation it belongs to. 
            </p>
            <p>
                One to many with Generations, in which it is the child (Generation has many Pokemons).
                Many to Many with Types and Moves.
            </p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <div class="card-content">
            <h2 class="subtitle is-4">
            Moves
            </h2> 
            <p>
            Represents a Move. Contains it’s name, Accuracy, Damage Class, Effect, Power PP, and references to the Generation it belongs to and the Type it belongs to.
            </p>
            <p>
                One to many with Generations, in which it is the child (Generation has many Moves).
                Many to Many with Pokemons.
            </p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card is-1">
        <div class="card-content">
            <h2 class="subtitle is-4">
            Types
            </h2> 
            <p>
            Represents a Type. Contains it’s name and a reference to the Generation it belongs to.
            </p>
            <p>
                One to many with Generations, in which it is the child (Generation has many Types).
                Many to Many with Pokemons.
            </p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <div class="card-content">
            <h2 class="subtitle is-4">
            Generations
            </h2> 
            <p>
            Represents a Generation. Contains it’s name and Region.
            </p>
            <p>
                One to many with Pokemons, Types, and Moves in which it is the parent of each (Generation has many Pokemons, Types and Moves).
            </p>
        </div>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
        <div class="card-content">
            <h2 class="subtitle is-5">
            Pokemon_Types
            </h2> 
            <p>
            Joins the Pokemons and Types tables. 
            </p>
            <p>
                Belongs to many Pokemons and Types.
            </p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <div class="card-content">
            <h2 class="subtitle is-5">
            Pokemon_Moves
            </h2> 
            <p>
            Joins the Pokemons and Moves tables.
            </p>
            <p>
                Belongs to many Pokemons and Moves.
            </p>
        </div>
        </div>
    </div>
</div>